<style>
    
        .rojo {
            background-color: blue;
        }
    
</style>

<div class="rojo">
<h1>Aquí comienza el homepage</h1>


<p>Ya no somos tan Noobs</p>


<h1>Aquí termina el homepage</h1>
</div>