<h1>
  {{title}}
</h1>
<div class="container">
  <form (ngSubmit)="crearTienda(NuevoTiendaForm)" #NuevoTiendaForm="ngForm">
    <div class="form-group">
      <label>Tienda</label>
      <input type="text" class="form-control" placeholder="Digite un nombre de tienda como: Pepito" name="nombre" [(ngModel)]="nuevaTienda.nombre">
    </div>
    <button type="submit" class="btn btn-block btn-success">Crear</button>
  </form>
</div>
<p>
  {{nombre}} - {{apellido}}
</p>
<h3 [innerHTML]="nombreCompleto()" (click)="hizoClick()"
    (mouseenter)="hizoFocus()" [style.backgroundColor]="colorH4"
    [style.fontSize]="tamanioH4"
    [class]="classes"
    #NombreUsuario></h3>
<input type="text" [placeholder]="nombreCompleto()">
